table {
	margin: 5px;
	width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

button {
	margin: 10px;
}

#data {
	display: none;
}

@media only screen and (orientation: landscape) {
	#landscape_table {
		font-size: 3vh;
	}
	
	#portrait_table {
		display: none;
	}
}

@media only screen and (orientation: portrait) {
	html, body {
		height: 100%;
		margin: 0px;
	}
	
	header {
		height: 10%;
		margin: 0px;
	}
	
	#portrait_table {
		height: 80%;
		margin: 0px;
	}
	
	#portrait_table tbody {
		height: 14%;
	}
	
	#portrait_table th {
		font-size: 3vh;
		width: 20%;
	}
	
	#portrait_table td {
		font-size: 5vh;
		width: 80%;
	}
	
	.buttons {
		height: 10%;
		margin: 0px;
	}
	
	#landscape_table {
		display: none;
	}
}