table {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

button {
	margin: 10px;
}

@media only screen and (orientation: landscape) {
	table {
		width: 100%;
		font-size: 3vh;
	}
}

@media only screen and (orientation: portrait) {
	table {
		width: 100%;
		font-size: 2vh;
	}
}